.navbar {
  background-color: var(--color-background);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  box-shadow: var(--box-shadow);
  border-radius: 1rem 1rem 0 0;
}
